<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cavalier King Charles - Charly</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link th:href="@{/styles/charly.css}" rel="stylesheet" />
<link rel="icon" type="image/png" th:href="@{/images/King Charles_logo_small.png}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>

	<div th:replace="charly_fragments :: header"></div>

	<h1>Royal Bowl</h1>

	<div id="bowl-content">
		<p>Before using the Royal Bowl please make sure to read and understand the following:</p>

		<ul>
			<li>Read our Royal Scroll carefully (yea It’s not white, it’s not brown, it’s not yellow)</li>
			<li>Ensure that you use only the Shelley era wallet, which supports native assets.</li>
			<li><b>VERY IMPORTANT!</b> Please check this twice! NEVER send us any funds from exchanges, because your funds could be lost and you will not get any $Charly.</li>
			<li>If you need any clarification or have any questions regarding Royal Bowl, please do not hesitate to contact us on Discord. <a style="color: #5865F2" target="_blank" href="https://discord.gg/ArH9udyKTN">
					<i class="bi bi-discord"></i>
				</a></li>
			<li>Do take into account that transaction can take longer then expected due to a network congestion.</li>
		</ul>

		<p>
			<img class="qr-code" th:src="@{/images/charlyqr.png}">
		</p>

		<p>
			<b><span id="address" th:text="${paymentAddress.address}"></span></b>
			<button id="copy-button" type="button" class="btn btn-clipboard" data-clipboard-action="copy" data-clipboard-target="#address" data-bs-toggle="tooltip" data-bs-placement="top" title="Copied address to clipboard">
				<i class="bi-clipboard"></i>
			</button>
		</p>

		<p>
			<a target="_blank" th:href="${'web+cardano:' + paymentAddress.address + '?amount=' + tokenPrice}">
				<img height="32" th:src="@{/images/yoroi.png}">
			</a>
		</p>

		<p>
			In order to receive some $CHARLY tokens please send EXACLTY <b><span th:text="${tokenPrice}"></span> ₳</b> to the provided address above. In return the Royal Treasury will return you approximately 1.5 ₳ together with a random amount of $CHARLY
		</p>

		<p>
			Hurry up, only
			<span th:text="${tokenLeft}"></span>
			$Charly left in Tier 1.
		</p>

		<h3>
			<b>Tier 1 of 4</b>
		</h3>
		<ul>
			<li>1% chance to receive between 5.257.777 and 10.111.110 $Charly</li>
			<li>3% chance to receive between 3.842.221 and 5.257.776 $Charly</li>
			<li>6% chance to receive between 3.235.555 and 3.842.220 $Charly</li>
			<li>13% chance to receive between 2.729.999 and 3.235.554 $Charly</li>
			<li>27% chance to receive between 1.516.666 and 2.729.998 $Charly</li>
			<li>50% chance to receive between 1.011.111 and 1.516.665 $Charly</li>
		</ul>

		<!--
		<h3>Tier 2</h3>
		<ul>
			<li>1% chance to receive between 3.333.333 and 6.033.333 $Charly</li>
			<li>3% chance to receive between 2.292.666 and 3.333.332 $Charly</li>
			<li>6% chance to receive between 1.930.666 and 2.292.665 $Charly</li>
			<li>13% chance to receive between 1.628.999 and 1.930.665 $Charly</li>
			<li>27% chance to receive between 904.999 and 1.628.998 $Charly</li>
			<li>50% chance to receive between 603.333 and 904.998 $Charly</li>
		</ul>


		<h3>Tier 3</h3>
		<ul>
			<li>1% chance to receive between 2.055.555 and 4.055.555 $Charly</li>
			<li>3% chance to receive between 1.541.110 and 2.055.554 $Charly</li>
			<li>6% chance to receive between 1.297.777 and 1.541.109 $Charly</li>
			<li>13% chance to receive between 1.094.999 and 1.297.776 $Charly</li>
			<li>27% chance to receive between 608.333an and 1.094.998 $Charly</li>
			<li>50% chance to receive between 405.555an and 608.332 $Charly</li>
		</ul>


		<h3>Tier 4</h3>
		<ul>
			<li>1% chance to receive between 1.377.779 and 1.777.779 $Charly</li>
			<li>3% chance to receive between 675.556 and 1.377.778 $Charly</li>
			<li>6% chance to receive between 568.889 and 675.555 $Charly</li>
			<li>13% chance to receive between 480.000 and 568.888 $Charly</li>
			<li>27% chance to receive between 266.666 and 479.999 $Charly</li>
			<li>50% chance to receive between 177.777 and 266.665 $Charly</li>
		</ul>
 -->


		<p id="button-line">
			<span class="main-button">
				<img th:src="@{/images/Zlata  krona + zlata kost_500X500px.png}">
				<span class="circle"></span>
			</span>
		</p>



	</div>

	<div th:replace="charly_fragments :: footer"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var tokenPrice = /*[[${tokenPrice}]]*/0;
		/*]]>*/
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script th:src="@{/scripts/scripts_charly.js}"></script>
</body>
</html>
