<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cavalier King Charles - Charly</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link th:href="@{/styles/charly.css}" rel="stylesheet" />
<link th:href="@{/styles/rainbow.css}" rel="stylesheet" />
<link rel="icon" type="image/png" th:href="@{/images/King Charles_logo_small.png}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>

	<div th:replace="charly_fragments :: header"></div>

	<h1>Charly's golden rush</h1>

	<div id="bowl-content">
		<p>
			<img width="400px" src="https://cardano-tools.io/charly_2.gif">
		</p>

		<p>
			<b>Public minting has begun!</b>
		</p>

		<p>Before you send any funds please make sure to read and understand the following:</p>

		<p>
			Ensure that you use only the Shelley era wallet, which supports native assets.<br> <b>VERY IMPORTANT!</b> Please check this twice! <b>NEVER</b> send us any funds from exchanges, because your funds could be lost and you will not get any Charly's golden rush NFT.<br> Do take into account that transactions can take longer than expected due to network congestion.
		</p>

		<p>
			<b>
			1 NFT for 30 ADA<br>
			2 NFT for 55 ADA<br>
			3 NFT for 100 ADA<br>
			4 NFT for 117 ADA<br>
			5 NFT for 145 ADA<br>
			6 NFT for 175 ADA<br>
			7 NFT for 205 ADA<br>
			8 NFT for 235 ADA<br>
			9 NFT for 260 ADA<br>
			10 NFT for 285 ADA<br>
			</b>
		</p>

		<p>
			<b><span id="address" th:text="addr1v9qt754z7kxhr75jyfrz7m33apqyxxtfemqjl3mmrlym3qcaj7pkq"></span></b>
			<button id="copy-button" type="button" class="btn btn-clipboard" data-clipboard-action="copy" data-clipboard-target="#address" data-bs-toggle="tooltip" data-bs-placement="top" title="Copied address to clipboard">
				<i class="bi-clipboard"></i>
			</button>
		</p>

		<p>
			Our Charly the Merlin collection has been minted and is ready for you to explore. Discover the range of NFTs available and their unique purposes. As we've mentioned before, you have the option to claim some of these for free through our wallet. To do so, you'll need at least 2 Charly Golden Rush collection tokens for one NFT or 7 or more for a chance to claim 2 NFTs. Join our discord to know more how to participate.<br>
			<br>
			There will be 260 NFTs available in the faucet, so be quick to claim yours! Additionally, 10 NFTs will be reserved for our flipper game throughout the year.<br>
			<br>
			Remember, we're still in the minting process and need to increase our mint numbers to have more staking power on Cardano Lands!<br>
			<br>
			<a href="https://cnft.tools/charlythemerlinspecialcollection">https://cnft.tools/charlythemerlinspecialcollection</a>
		</p>

		<p>ALREADY MINTED NFTs CAN BE FOUND ON <a href="https://cnft.tools/ckctcharlysgoldenrush" target="_blank">CNFT.TOOLS</a></p>
	</div>

	<div th:replace="charly_fragments :: footer"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var tokenPrice = /*[[${tokenPrice}]]*/0;
		/*]]>*/
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script th:src="@{/scripts/scripts_charly.js}"></script>
</body>
</html>
