<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="header">
		<p id="logo-line">
			<a href="/">
				<img th:src="@{/images/KCharles logo 2000x2000px.png}">
			</a>
		</p>

<!--
		<p class="countdown">
			<a href="hunter2">
				Charly hunt season 2 starts in
				<span th:data-countdown="${hunter2Start}"></span>
			</a>
		</p>
 -->
<!--
		<p class="countdown">
			<a href="goldRush">
				Charly's golden rush starts in
				<span th:data-countdown="${'2023-03-07 20:00'}"></span>
			</a>
		</p>
-->
	</div>

	<div th:fragment="footer">
		<p id="policy-line">
			Token Policy ID <br>
			<a href="https://cardanoscan.io/tokenPolicy/89267e9a35153a419e1b8ffa23e511ac39ea4e3b00452e9d500f2982" target="_blank">89267e9a35153a419e1b8ffa23e511ac39ea4e3b00452e9d500f2982</a>

			<br> Certificates of Charlys Kingdom<br>
			<a href="https://www.jpg.store/collection/381cdcae25c7554340af1e50bef04763850c63c149a49e297bfa262b" target="_blank">381cdcae25c7554340af1e50bef04763850c63c149a49e297bfa262b</a>

			<br> Collection of fairy tale seven<br>
			<a href="https://www.jpg.store/collection/be3ee9322ec94d5446bfc1fdc582cb83a0f9bcbcec2ebd928d71175d" target="_blank">be3ee9322ec94d5446bfc1fdc582cb83a0f9bcbcec2ebd928d71175d</a>

			<br> Charly hood collection<br>
			<a href="https://www.jpg.store/collection/78125194aefda7242d61099cb700552a0126d2370de3c9105cb23362" target="_blank">78125194aefda7242d61099cb700552a0126d2370de3c9105cb23362</a>

			<br> Charly's golden rush<br>
			<a href="https://www.jpg.store/collection/c1aa77d9cd7e267df0d0ec138367deb45ce7524eb2f0cc8bdd9c45d4" target="_blank">c1aa77d9cd7e267df0d0ec138367deb45ce7524eb2f0cc8bdd9c45d4</a>

			<br> Charly the Merlin special collection<br>
			<a href="https://www.jpg.store/collection/cfcc4b501af39bd551db684433aefcaa7ebd5dbd6a3db33a11bd8b3a" target="_blank">c1aa77d9cd7e267df0d0ec138367deb45ce7524eb2f0cc8bdd9c45d4</a>

			<br> Jackpot coins collection<br>
			<a href="https://www.jpg.store/collection/8aa35a5c24b48515f6d48b2897108a443674438930852756ce1ee661" target="_blank">c1aa77d9cd7e267df0d0ec138367deb45ce7524eb2f0cc8bdd9c45d4</a>
		</p>



		<p id="social-line">
			<a style="color: #5865F2" target="_blank" href="https://discord.gg/ArH9udyKTN">
				<i class="bi bi-discord"></i>
			</a>
			<a style="color: #1DA1F2" target="_blank" href="https://twitter.com/Charlytoken7">
				<i class="bi bi-twitter"></i>
			</a>
			<a style="color: #2AABEE" target="_blank" href="https://t.me/charlytoken7">
				<i class="bi bi-telegram"></i>
			</a>
		</p>


		<div class="partners">Partners</div>
		<p id="friends-line">
			<a target="_blank" href="https://cardanolands.com/">
				<img th:src="@{/images/CardanoLands_Logo_01.png}">
			</a>
			<a target="_blank" href="https://sickcity.xyz/">
				<img th:src="@{/images/sickcity-black.webp}">
			</a>
			<a target="_blank" href="https://www.wolfcardano.io/">
				<img th:src="@{/images/wolf token.png}">
			</a>
			<a target="_blank" href="https://muesliswap.com/swap?base=.&quote=89267e9a35153a419e1b8ffa23e511ac39ea4e3b00452e9d500f2982.436176616c6965724b696e67436861726c6573">
				<img th:src="@{/images/muesli.png}">
			</a>
			<a target="_blank" href="https://app.minswap.org/liquidity?currencySymbolA=&tokenNameA=&currencySymbolB=89267e9a35153a419e1b8ffa23e511ac39ea4e3b00452e9d500f2982&tokenNameB=436176616c6965724b696e67436861726c6573">
				<img th:src="@{/images/minswap.png}">
			</a>
			<a target="_blank" href="https://exchange.sundaeswap.finance/#/swap?swap_from=cardano.ada&swap_to=89267e9a35153a419e1b8ffa23e511ac39ea4e3b00452e9d500f2982.436176616c6965724b696e67436861726c6573">
				<img th:src="@{/images/sundae.png}">
			</a>
			<a target="_blank" href="https://merkaba-token.io/">
				<img th:src="@{/images/merkaba.png}">
			</a>
			<a target="_blank" href="https://pockettowne.io/">
				<img th:src="@{/images/NewPTLogo.png}">
			</a>
			<a target="_blank" href="https://dripdropz.io/explore-projects/CavalierKingCharles">
				<img th:src="@{/images/05 text_black_main.png}">
			</a>
			<a target="_blank" href="https://www.yolosolos.com/">
				<img th:src="@{/images/YoloSolosLogo_1.png}">
			</a>
			<a target="_blank" href="https://www.splash.club/">
				<img th:src="@{/images/Splash_Logo.jfif}">
			</a>
		</p>

		<p id="powered-line">
			POWERED BY
			<a target="_blank" href="https://cardano-tools.io">
				<img th:src="@{/images/logo_small_ct.png}">
			</a>
		</p>
	</div>


</body>
</html>