<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cavalier King Charles - Charly</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link th:href="@{/styles/charly.css}" rel="stylesheet" />
	<link th:href="@{/styles/rainbow.css}" rel="stylesheet" />
	<link rel="icon" type="image/png" th:href="@{/images/King Charles_logo_small.png}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>

<body>

	<div th:replace="charly_fragments :: header"></div>

	<h1>Charly hunt season 3</h1>

	<p id="hunter-logo-line">
		<img width="800" th:src="@{/images/CHARLY HOOD_BEST HUNTER 2023_1.png}">
	</p>

	<p class="countdown" id="countdown_start">
		Charly hunt season 3 starts in
		<span th:data-countdown="${hunter3Start}"></span>
	</p>
	<p class="countdown" id="countdown_end">
		Charly hunt season 3 ends in
		<span th:data-countdown="${hunter3End}"></span>
	</p>

	<div id="bowl-content">
		<div class="hunter-field-boundary">
			<div class="hunter-field">
				<div class="hunter-lane-header">
					<span>0</span>
					<span id="half-amount" th:text="500"></span>
					<span id="max-amount" th:text="1000"></span>
				</div>
				<img id="loading" width="100" height="100" th:src="@{/images/loading-buffering.gif}" />
			</div>
		</div>
	</div>



	<div th:replace="charly_fragments :: footer"></div>



	<script th:inline="javascript">
		/*<![CDATA[*/
		var tokenPrice = /*[[${tokenPrice}]]*/0;
		var minTokens = /*[[${minTokens}]]*/0;
		/*]]>*/
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script th:src="@{/scripts/scripts_charly.js}"></script>
	<script th:src="@{/scripts/scripts_hunter3.js}"></script>
</body>

</html>