<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cavalier King Charles - Charly</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link th:href="@{/styles/charly.css}" rel="stylesheet" />
<link rel="icon" type="image/png" th:href="@{/images/King Charles_logo_small.png}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>


	<p id="logo-line">
		<img th:src="@{/images/KCharles logo 2000x2000px.png}">
	</p>

	<h1>
		Cavalier King Charles<br>Token
	</h1>

	<p id="button-line">
		<span class="main-button">
			<span class="main-button-heading">
				You are just a click away to get<br>$Charly's gold bones.
			</span>
			<a target="_blank" href="bowl">
				<img th:src="@{/images/Zlata  krona + zlata kost_500X500px.png}">
			</a>
			<span class="main-button-footer">Royal bowl</span>
			<span class="circle"></span>
		</span>

		<span class="main-button scroll">
			<a target="_blank" href="royalscroll.pdf">
				<img th:src="@{/images/Royal scrol_listina.png}">
			</a>
		</span>

		<span class="main-button">
			<span class="main-button-heading">
				Do you want to own $Charly's NFT? You are just<br>a click away to add some to your collection.
			</span>
			<img th:src="@{/images/charli izvedba crtno.png}">
			<span class="main-button-footer">Charly's gold rush</span>
			<span class="comming-soon">Comming soon!</span>
			<span class="circle"></span>
		</span>
	</p>


	<p id="policy-line">
		Token Policy ID <br>
		<span th:text="${policyId}"></span>
		<br> NFT Policy ID<br>
		<a href="https://www.jpg.store/collection/be3ee9322ec94d5446bfc1fdc582cb83a0f9bcbcec2ebd928d71175d" target="_blank">be3ee9322ec94d5446bfc1fdc582cb83a0f9bcbcec2ebd928d71175d</a>
		<br> Charly hood collection<br>
		<a href="https://www.jpg.store/collection/78125194aefda7242d61099cb700552a0126d2370de3c9105cb23362" target="_blank">78125194aefda7242d61099cb700552a0126d2370de3c9105cb23362</a>
	</p>



	<p id="social-line">
		<a style="color: #5865F2" target="_blank" href="https://discord.gg/ArH9udyKTN">
			<i class="bi bi-discord"></i>
		</a>
		<a style="color: #1DA1F2" target="_blank" href="https://twitter.com/Charlytoken7">
			<i class="bi bi-twitter"></i>
		</a>
		<a style="color: #2AABEE" target="_blank" href="https://t.me/charlytoken7">
			<i class="bi bi-telegram"></i>
		</a>
	</p>

	<p id="powered-line">
		POWERED BY
		<a target="_blank" href="https://cardano-tools.io">
			<img th:src="@{/images/logo_small_ct.png}">
		</a>
	</p>


	<script th:inline="javascript">
		/*<![CDATA[*/
		var tokenPrice = /*[[${tokenPrice}]]*/0;
		/*]]>*/
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
	<script th:src="@{/scripts/scripts_charly.js}"></script>
</body>
</html>
