@font-face {
	font-family: uwch;
	src: url(Lobster-Regular.ttf);
}

body {
	background-color: #eee;
	background-image: url("/images/spletna stran_yelow background.png");
	background-size: 70%;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: verdana, arial, helvetica, sans-serif;
}

[data-bs-toggle=modal] {
	cursor: pointer;
}

/* LOGO */
#logo-line {
	text-align: center;
}

#logo-line img {
	max-width: 400px;
	width: 75vw;
}

/* HEADER */
h1 {
	font-family: uwch;
	font-size: 75px;
	color: #CC2F2C;
	text-align: center;
}

/* BUTTONS */
#button-line {
	display: flex;
	justify-content: center;
}

#button-line .main-button {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#button-line .main-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 100%;
	background-color: #EBC78B;
	opacity: 0.5;
	z-index: -1;
}

#button-line .main-button .main-button-heading {
	font-family: uwch;
	font-size: 16px;
	color: #CC2F2C;
}

#button-line .main-button .main-button-footer {
	font-family: uwch;
	font-size: 30px;
	color: #CC2F2C;
}

#button-line .main-button img {
	width: 400px;
}

#button-line .main-button .comming-soon {
	position: absolute;
	bottom: 50%;
	left: 50%;
	font-family: uwch;
	font-size: 75px;
	transform: translate(-50%, 50%) rotate(15deg);
	color: #CC2F2C;
	text-align: center;
}

@media ( max-width : 1240px) {
	#button-line .button-label-top {
		font-size: 10px;
	}
	#button-line .button-label {
		font-size: 14px;
	}
	#button-line .comming-soon {
		font-size: 20px;
	}
}

/* POLICY */
#policy-line {
	text-align: center;
	font-family: monospace;
	word-wrap: break-word;
	font-weight: bold;
	padding: 0 10px;
}

/* SOCIAL */
#social-line {
	display: flex;
	justify-content: center;
	font-size: 30px;
	gap: 10px;
}

#social-line a {
	color: inherit;
}

/* POWEREDBY */
#powered-line {
	text-align: center;
	word-wrap: break-word;
}

.modal-body {
	word-wrap: break-word;
}

@media ( max-width : 1200px) {
	h1 {
		font-size: 45px;
	}
	#button-line {
		flex-direction: column;
	}
	#button-line .main-button:first-child, #button-line .main-button:last-child
		{
		padding: 75px 0;
	}
	#button-line .main-button.scroll {
		margin: -0px 0;
	}
	#button-line .main-button.scroll img {
		width: 75vw;
	}
	#button-line .main-button .comming-soon {
		font-size: 45px;
	}
	#button-line .main-button img {
		width: 50vw;
	}
	#button-line .main-button .circle {

	}
}

/* BOWL STYLES  */
#bowl-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*font-family: uwch;*/
	color: #CC2F2C;
	padding: 0 10px;
	word-wrap: break-word;
}

#bowl-content > * {
	max-width: 100%;
}